*.pdf
*.pth
*.dat
*.profile
*.hd5
*.pkl
*.zip
*.txt
dataset/
tensorboard/
data/
trash/
dev/
.ipynb_checkpoints
style_output/
debug_output/
debut_output_e/
uproot4-master

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

todo
test.py
dev_*

.pytest_cache
