*.pdf
*.pth
*.dat
*.profile
*.hd5
*.pkl
*.pt
*.zip
*.txt
*.text
*.json

travis-stash/
dataset/
tensorboard/
data/
trash/
dev/

# torch-geometric test data
tests/Planetoid

# 
.ipynb_checkpoints
style_output/
debug_output/
debut_output_e/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

todo
test.py
dev_*

.pytest_cache
