scipy>=1.5.2
matplotlib>=3.0.3
numpy>=1.19.1
numba
uproot>=3.11.1
tqdm>=4.31.1
scikit-learn>=0.23.1
tensorboardX>=2.0
pyyaml>=5.3
termcolor>=1.1.0
sphinx>=3
sphinx_rtd_theme
https://download.pytorch.org/whl/cpu/torch-1.4.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://s3.eu-central-1.amazonaws.com/pytorch-geometric.com/whl/torch-1.4.0/torch_scatter-latest%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://s3.eu-central-1.amazonaws.com/pytorch-geometric.com/whl/torch-1.4.0/torch_sparse-latest%2Bcpu-cp37-cp37m-linux_x86_64.whl
