# PYTORCH
torch==1.11.0
torchvision==0.12.0
torchaudio==0.11.0
-f https://download.pytorch.org/whl/torch_stable.html

# PYTORCH-GEOMETRIC
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
-f https://data.pyg.org/whl/torch-1.11.0.html

-r requirements-aux.txt
