-r requirements-aux.txt

# PYTORCH
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1

# PYTORCH-GEOMETRIC
-f https://data.pyg.org/whl/torch-2.7.0+cu118.html
torch_geometric==2.6.1

## some of these can give problems e.g. with GLIBC 2.27 (comment out)
-f https://data.pyg.org/whl/torch-2.7.0+cu118.html
torch_sparse==0.6.18
torch_scatter==2.1.2

#pyg_lib==0.4.0
#torch_cluster==1.6.3
#torch_spline_conv==1.2.2
