# Github actions CI requirements 1/2 (need to be separate files)

# AUX
-r requirements-aux.txt

# PYTORCH
torch==2.6.0+cu118
torchvision==0.20.1
torchaudio==2.5.1
--extra-index-url https://download.pytorch.org/whl/cpu
