# XGBOOST
xgboost==2.0.3

# TENSORFLOW
tensorflow==2.16.1

# ML friends
tensorboardX==2.6.2.2
einops==0.8.0

# JAX
jax==0.4.28
jaxlib==0.4.28

# IMINUIT
iminuit==2.25.2

# MYSTIC
mystic==0.4.2

# RAY
ray[data,train,tune,serve,rllib]==2.22.0
hyperopt==0.2.7
optuna==3.6.1
bayesian-optimization==1.4.3

# UPROOT & friends
uproot==5.3.7
awkward==2.6.4
vector==1.4.0

# NUMPY & friends
numpy==1.24.4      # Do not go over >= 1.24.4 (e.g. 1.26.4 tested --> iceboost custom loss gives weak results with icezee -- unknown reason!)
numba==0.59.1
pandas==2.2.2
scipy==1.13.0
matplotlib==3.9.0
scikit-learn==1.4.2
dcor==0.6
shap2==0.42.0

# UTILITIES
prettytable==3.10.0
scanf==1.5.2
PyPDF2==3.0.1
pyhepmc==2.13.4
regex-engine==1.1.0

ruamel.yaml==0.18.6
ruamel.std.pathlib==0.13.0
pyyaml==6.0.1
pyyaml-include==1.3.1  # Keep it 1.3.1
pyparsing==2.4.7       # Keep it 2.4.7
transpyle[all]==0.8.0
braceexpand==0.1.7
tabulate==0.9.0

psutil==5.9.8
uuid==1.30
networkx==3.3
tqdm==4.66.4
termcolor==2.4.0

# JUPYTER
jupyterlab
notebook

# DOCS and TESTING
sphinx==7.3.7
sphinx_rtd_theme
sphinxawesome-theme
pytest==8.2.0

#geomloss
#functools
