# PYTORCH
torch
torchvision
torchaudio
-f https://download.pytorch.org/whl/cpu

# PYTORCH-GEOMETRIC
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
-f https://data.pyg.org/whl/torch-1.11.0+cpu.html

# Last
-r requirements.txt
