-r requirements-aux.txt

# PYTORCH
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1
--extra-index-url https://download.pytorch.org/whl/cu117

# PYTORCH-GEOMETRIC
torch_geometric==2.3.0
pyg_lib==0.2.0
torch_scatter==2.1.1
torch_sparse==0.6.17
torch_cluster==1.6.1
# spline_conv can give problems with GLIBC 2.27
torch_spline_conv==1.2.2
-f https://data.pyg.org/whl/torch-2.0.0+cu117.html
