# Github actions CI requirements 2/2 (need to be separate files)

# PYTORCH-GEOMETRIC
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
-f https://data.pyg.org/whl/torch-1.11.0.html

-r requirements-aux.txt