FINAL_STATE_FILTER: &FINAL_STATE_FILTER

  filter[0]:
    operator: null    # null (single set), 'cartesian_and', 'cartesian_or'
    sets: [0]         # input set ids (one or two)
  
  # ... more filters here

  # -------------------------------------------------

  set[0]:
    expand: 'powerset' # 'set', 'vetoset' or 'powerset' which goes through all boolean vector combinations
    cutset:
      # Latex description is for boolean [0,1] per cut
      [{latex: ['$\mu', '$e'],   cut: 'BOOL@leadingLeptons_isElectron == True'},
       {latex: ['\mu',  'e'],    cut: 'BOOL@subleadingLeptons_isElectron == True'},
       {latex: ['OS',   'SS'],   cut: 'dilepton_charge > 0'},
       {latex: ['mer$', 'iso$'], cut: 'nominal_dR_l2j > 0.4'}]
  
  # note: dataframe has SS for dilepton_charge == 1, OS for == -1
  # -- = -2 -> SS
  # -+ =  0 -> OS
  # +- =  0 -> OS
  # ++ =  2 -> SS

  # ... more sets here

# -----------------------------------------------------------------------

basic:
  active: True
  nbins:  70
  percentile_range: [0.5, 99.5]
  exclude_vals: [null, -999]
  plot_unweighted: True

corrmat:
  active: false

contours:
  active: false

ROC:
  active: true
  num_bootstrap: 200
  xmin: 1.0E-4
  set_filter: *FINAL_STATE_FILTER


## Binned ROC plots can be 1D or 2D (powerset filtering not supported here)
ROC_binned:
  active: false
  num_bootstrap: 200
  xmin: 1.0E-4
  
  plot[0]:
    var:   ['x_hlt_pt']
    edges: [4.0, 6, 8.0, 10.0, 12.0, 15.0, 10000]
  
  plot[1]:
    var:   ['x_hlt_eta', 'x_hlt_pt']
    edges: [[-1.5, -1.15, -0.75, 0.0, 0.75, 1.15, 1.5],
          [4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 15.0, 10000]]

## MVA output density (1D)
MVA_output:
  active: true
  edges: 80
  #set_filter: *FINAL_STATE_FILTER

## (MVA output x external variable) density (2D)
# Set filter can be applied only per one plot[i] identifier!
MVA_2D:
  active: true

  plot[0]:
    var:   ['tagger_score']
    edges: [{'nbin': 50, 'q': [0.0001, 0.9999],  'space': 'linear'},
            {'nbin': 50, 'minmax': [0.0, 1.0],   'space': 'linear'}]

    set_filter: *FINAL_STATE_FILTER
    
    # -----------------------------
    # Powerset correlation plot parameters
    xlim:
      # For each class [[lower, upper], ... [lower, upper]
      pearson:     [[-0.15, 0.30], [-0.15, 0.30]]
      abs_pearson: [[0.0, 0.30],   [0.0, 0.30]]
      disco:       [[0.0, 0.30],   [0.0, 0.30]]
      MI:          [[0.0, 0.12],   [0.0, 0.12]]
    # -----------------------------
  
  #plot[1]:
  #  var:   ['.?hlt_pms2.?'] # RegExp supported
  #  edges: [{'nbin': 50, 'minmax': [0.0, 1.0], 'space': 'linear'},
  #          {'nbin': 50, 'q': [0.0, 0.95],     'space': 'log10'}]

