FILTER: &FILTER
  
  filter[0]:
    operator: 'cartesian_and'  # null (unary), cartesian_and', 'cartesian_or'
    sets: [0,1]                # input set ids (one or two)
  
  # ... more filters here

  # --------------------
  
  set[0]:
    expand: 'set'    # 'set', 'vetoset' or 'powerset'
    cutset:
      # Latex description is for boolean [0,1] per cut
      [{cut: 'GEN_m == 2',  latex: ['$m \neq 2$',  '$m = 2$'] },
       {cut: 'GEN_m == 5',  latex: ['$m \neq 5$',  '$m = 5$'] },
       {cut: 'GEN_m == 10', latex: ['$m \neq 10$', '$m = 10$']},
       {cut: 'GEN_m == 15', latex: ['$m \neq 15$', '$m = 15$']},
       {cut: 'GEN_m == 20', latex: ['$m \neq 20$', '$m = 20$']}]
  
  set[1]:
    expand: 'set'    # 'set', 'vetoset' or 'powerset'
    cutset:
      [{cut: 'GEN_ctau == 1',   latex: ['$c\tau \neq 1$',   '$c\tau = 1$']  },
       {cut: 'GEN_ctau == 10',  latex: ['$c\tau \neq 10$',  '$c\tau = 10$'] },
       {cut: 'GEN_ctau == 50',  latex: ['$c\tau \neq 50$',  '$c\tau = 50$'] },
       {cut: 'GEN_ctau == 100', latex: ['$c\tau \neq 100$', '$c\tau = 100$']},
       {cut: 'GEN_ctau == 500', latex: ['$c\tau \neq 500$', '$c\tau = 500$']}]
  
  # ... more sets here

# -----------------------------------------------------------------------


basic:
  active: True
  nbins:  70
  percentile_range: [0.5, 99.5]
  exclude_vals: [null, -999.0]
  plot_unweighted: False

corrmat:
  active: false

contours:
  active: false

ROC:
  active: true
  num_bootstrap: 50
  xmin: 1.0E-6
  set_filter: *FILTER

## Binned ROC plots can be 1D or 2D
ROC_binned:
  active: false
  num_bootstrap: 50
  xmin: 1.0E-4
  
  #plot[0]:
  #  var:   ['ChsMET_pt']
  #  edges: [4.0, 6, 8.0, 10.0, 12.0, 15.0, 10000]

  #plot[0]:
  #  var:   ['GEN_m', 'GEN_ctau']
  #  edges: [[1.9, 2.1, 4.9, 5.1, 9.9, 10.1, 14.1, 15.1],
  #          [9, 11, 49, 51, 99, 101]]

## MVA output density (1D)
MVA_output:
  active: true
  edges: 80
  set_filter: *FILTER

## (MVA output x External variable) density (2D)
MVA_2D:
  active: false
  
  plot[0]:
    var:   ['.*'] # RegExp supported
    edges: [{'nbin': 50, 'q': [0.01, 0.99], 'space': 'linear'},
            {'nbin': 50, 'q': [0.01, 0.99], 'space': 'linear'}]

  #plot[1]:
  #  var:   ['.?hlt_pms2.?']
  #  edges: [{'nbin': 50, 'minmax': [0.0, 1.0], 'space': 'linear'},
  #          {'nbin': 50, 'q': [0.0, 0.95],     'space': 'log10'}]

