# Github actions CI (continous integration) setup.
#
# m.mieskolainen@imperial.ac.uk, 2022

name: icenet-install-test

on: [push]

jobs:
  icenet-install-test:
    runs-on: ubuntu-22.04
    steps:

      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11.1'
      
      ## Install GPU tools
      # conda install -c nvidia cudatoolkit==11.3.1 cudnn==8.2.1
      # conda install -c conda-forge cudatoolkit-dev
      
      # Install conda packages
      
      # (needed e.g. for xgboost tree visualization)
      # conda install python-graphviz
      
      - name: Install pip-requirements
        run: |
          pip install -r requirements-github-actions-1.txt
          pip install -r requirements-github-actions-2.txt
      
      ## Docs building
      #- name: Build docs
      #  run: |
      #    if [ -e yarn.lock ]; then
      #    yarn install --frozen-lockfile
      #    elif [ -e package-lock.json ]; then
      #    npm ci
      #    else
      #    npm i
      #    fi
      #    npm run build
      #    make -C docs/ clean
      #    make -C docs/ html
      #    touch docs/build/html/.nojekyll

      ## Release to gh-pages
      #- name: Release docs to GitHub Pages
      #  uses: peaceiris/actions-gh-pages@v3
      #  with:
      #    github_token: ${{ secrets.GITHUB_TOKEN }}
      #    publish_dir: ./docs/build/html/
      
      ## Unit tests
      - name: Unit tests
        run: |
          pytest icenet/tools/stx.py -rP
      
      ## Integration tests
      - name: Run Deep Learning system integration tests
        run: |
          git clone https://github.com/mieskolainen/travis-stash.git
          source setenv.sh && maxevents=10000; source tests/runme_hnl.sh
          source setenv.sh && maxevents=10000; source tests/runme_eid.sh
          source setenv.sh && maxevents=10000; source tests/runme_eid_deep.sh
          source setenv.sh && maxevents=10000; source tests/runme_eid_visual.sh
          source setenv.sh && maxevents=10000; source tests/runme_trg.sh
      ## source setenv.sh && maxevents=10000; source tests/r